@charset "UTF-8";
#tomacorrientes, #termomagnetica, #prolongar, #diagnostico, #cambio_de_artefacto, #formulario, #servicios, .vision, .mision, #pagina_principal {
  margin: 30px 5px;
  border-radius: 50px;
  background: #eaebec;
  box-shadow: 5px 5px 15px #c7c8c9, -5px -5px 15px #ffffff;
}

/*---------------------------reset de parametros de navegador-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/*--------------------Cuerpos principales Main, header, body, footer-----------------------------*/
main {
  text-align: center;
  background-color: #3d3d3d;
  font-family: "Oxygen", sans-serif;
}

header {
  text-align: center;
  background-color: #3d3d3d;
  font-family: "Oxygen", sans-serif;
  display: inline;
}

body {
  text-align: center;
  background-color: #3d3d3d;
  font-family: "Oxygen", sans-serif;
}

footer {
  background-color: #3d3d3d;
}

#tomacorrientes, #termomagnetica, #prolongar, #diagnostico, #cambio_de_artefacto, #formulario, #servicios, .vision, .mision, #pagina_principal {
  margin: 30px 5px;
  border-radius: 50px;
  background: #eaebec;
  box-shadow: 5px 5px 15px #c7c8c9, -5px -5px 15px #ffffff;
}

/*-----------------------------------------navBAr-----------------------------------------------*/
nav {
 /* margin-bottom: 5%;*/
}
nav ul li {
  list-style: none;
  display: inline;
}
nav ul li a {
  text-decoration: none;
  /* color: #eaebec; */
  color: #fff;
  margin: 0 50px;
  
 }
 
nav ul li:hover {
  transition: all 0.8s;
  transform: scale(1.5);
  color: red;
}

#tomacorrientes, #termomagnetica, #prolongar, #diagnostico, #cambio_de_artefacto, #formulario, #servicios, .vision, .mision, #pagina_principal {
 
  margin: 30px 5px;
  border-radius: 50px;
  background: #eaebec;
  box-shadow: 5px 5px 15px #c7c8c9, -5px -5px 15px #ffffff;
}

/*-------------------------------Secciones de las páginas---------------------------------------*/
#pagina_principal {
  transition: all 0.8s;
  padding-bottom: 1rem;
}

.mision {
  transition: all 0.8s;
  padding: 2rem 2rem;
}
.mision:hover {
  transform: translateY(-5%);
}

.vision {
  transition: all 0.8s;
  padding: 2rem 2rem;
}
.vision:hover {
  transform: translateY(-5%);
}

#servicios {
  transition: all 0.8s;
}

#formulario {
  transition: all 0.8s;
}

#cambio_de_artefacto {
  transition: all 0.8s;
  height: 75vh;
  width: 100vw;
}

#diagnostico {
  transition: all 0.8s;
  height: 75vh;
  width: 100vw;
}

#prolongar {
  transition: all 0.8s;
  height: 75vh;
  width: 100vw;
}

#termomagnetica {
  transition: all 0.8s;
  height: 75vh;
  width: 100vw;
}

#tomacorrientes {
  transition: all 0.8s;
  height: 75vh;
  width: 100vw;
}

/*---------------------------------------Formulario---------------------------------------------*/
.formRow {
  text-align: left;
  padding: 2%;
  width: 100%;
  display: inline-block;
}

.formRow input[type=text], .formRow input[type=email], .formRow textarea  {
  width: 100%;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: inset 1px 1px 2px #707070, inset -1px -1px 2px #ffffff; 
} 



.formRow input[type=text]:invalid {
  border: 2px solid red;
}

.formRow input[type=email]:invalid {
  border: 2px solid red;
}
.formRow button {
  text-align: center;

  border-radius: 28px;
  padding: 1% 1%;
  margin: 1% 48%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 4px 4px 8px #707070, -4px -4px 8px #ffffff;
  display: inline-block;
}

.formRow button:hover{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 4px 4px 8px #707070, inset -4px -4px 8px #ffffff;


} 

.formRow textarea {
  resize: none;
  min-height: 200px;

}

#pagina_principal, .mision, .vision, #servicios, #formulario, #cambio_de_artefacto, #diagnostico, #prolongar, #termomagnetica, #tomacorrientes {
  margin: 30px 5px;
  border-radius: 50px;
  background: #eaebec;
  box-shadow: 5px 5px 15px #c7c8c9, -5px -5px 15px #ffffff;
}

/*-------------------------------------Cosos varios---------------------------------------------*/
.bg-grisOscuro {
  background-color: #3d3d3d;
  color: #eaebec;
}

.row {
  height: 4rem;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  color: #eaebec;
}

h5 {
  color: #eaebec;
  font-weight: bolder;
}

.textoClaro {
  color: #eaebec;
}

.botones {
  border-radius: 28px;
  padding: 1% 1%;
  margin: 1% 5%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 4px 4px 8px #707070, -4px -4px 8px #ffffff;
  display: inline-block;
}
.botones a {
  text-decoration: none;
  font-weight: bolder;
  color: #3d3d3d;
}
.botones:hover {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 4px 4px 8px #707070, inset -4px -4px 8px #ffffff;
}

.iconoLogo {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.iconoLogo a {
  display: inline;
  text-decoration: none;
  color: #eaebec;
}

.bajaMargen {
  margin-top: 1rem;
}

.flex1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-top: 1rem;
}

.cardWidth {
  width: 100px;
  margin: 0 auto;
}

img {
  width: 70%;
}

.maxPantalla {
  height: 75vh;
}

.pantallaServicios {
   height: 100vh;
}

.centrarMargen {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*------------------------------------ULTIMAS ACTUALIZACIONES----------------------------------------*/
.carruselImg{
  height: 90vh;
  object-fit: cover;
}

.textoGrande{
  font-size: 3em;
  text-transform: uppercase;
}

.muestraLogo{
  width: 50px;
  
}

.nav-link-color{
  color: #fff !important; /*forzar el color y que omita el de bootstrap*/
}

.marcaLogo{
  display: inline;
  font-size: 28px;
  text-transform: uppercase;
  padding-left: 1rem;
}

.imagenValores{
  height: 30vh;
  width: 10%;
 
}

.info, .info1, .info2{
  text-align: left;
}

.imagenTarea{
  margin: 5rem auto;
  display: inline-block;
  vertical-align: middle;
}



/*------------------------------------Jugar con mediaQwery-------------------------------------------*/
@media only screen and (max-width:576px){
.marcaLogo{
  font-size: 1rem;
  overflow-x: hidden;
}

.contendor{
  overflow-x: hidden;
}
#formulario{
  overflow-x: hidden;
}

  .imagenIntro, .info2, .infoMision2{
  display: none;
}

.mision, .vision{
  height: 50vh;
}

.imagenValores{
  height: 3vh;
  width: 10%;
}

#servicios{
  padding-top: 8%;
  margin: 80px 5px;
  border-radius: 0px;
  /* background: #eaebec; */
  background: #3d3d3d;
  box-shadow: 0px 0px 0px #c7c8c9, -0px -0px 0px #ffffff;
}

.imagenTarea{
  margin: 2rem 0;
}



}




@media only screen and (max-width:992px){
.info1{
  display: none;
}
}

#tomacorrientes p, #termomagnetica p, #prolongar p, #diagnostico p, #cambio_de_artefacto p{ /*creo que se lee mejor con la alineacion izq*/
  text-align: left;
}


/*# sourceMappingURL=styles.css.map */
